<div class="animated fadeIn">
    <h1>Sobre Comic App</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium aliquam dolore laboriosam deleniti debitis
        quas
        ex nam, eos pariatur, labore maiores expedita fugiat quidem nisi cum quo unde, rem dolorum.
        Commodi nemo non aliquid in neque iusto quidem velit at necessitatibus corrupti. Ad earum eaque rem itaque!
        Labore,
        soluta, praesentium id dolorem obcaecati ex amet nisi odio odit vero exercitationem!
        At laudantium, ullam nostrum ab inventore quo. Quaerat illum corporis culpa ducimus veritatis. Minima expedita,
        quo
        ullam reiciendis alias, sed in nisi dignissimos quod ad aperiam maxime labore quas dolore!
        Quidem molestiae, reprehenderit dolores similique earum obcaecati id suscipit. Facere facilis reprehenderit modi
        voluptas fuga autem sapiente nesciunt animi, accusantium quos pariatur quisquam magnam. Nihil necessitatibus
        doloremque obcaecati molestias aperiam?
        Facere alias laudantium dolorum possimus modi soluta, sapiente iusto, voluptatum quia atque rerum, porro culpa
        libero labore! Sit in repudiandae alias accusantium, assumenda voluptatum atque. Minima explicabo sunt
        voluptatibus
        possimus!
        Maxime tenetur in architecto perferendis delectus doloremque veritatis. Laudantium id velit beatae blanditiis,
        tempora inventore dicta magni praesentium maiores culpa voluptatem consequuntur, aspernatur cum similique. Sed
        consequatur doloribus commodi quibusdam?
        Placeat consectetur sapiente voluptas optio distinctio praesentium aperiam culpa quam, sit pariatur asperiores
        harum
        illo voluptates necessitatibus beatae non nemo cumque alias, dicta porro quis consequuntur sunt. Beatae,
        accusantium
        quasi.
        Voluptates eum iusto placeat adipisci voluptas quas expedita aliquam quis ipsam! Sed, ratione! Obcaecati tenetur
        minima molestias, consequuntur atque cumque molestiae temporibus recusandae dolore pariatur id ad, magni facere
        aperiam?
        Facilis inventore nulla unde, libero sapiente, earum eveniet accusamus deleniti, qui consectetur quod ducimus
        nemo
        necessitatibus ratione fugiat quae aspernatur hic in eum nihil perferendis ipsa fuga et exercitationem.
        Obcaecati.
        Voluptatum recusandae ipsum mollitia voluptas repudiandae accusamus quos nesciunt omnis ipsam modi libero, iure
        minus sunt ipsa labore sed culpa voluptatibus rerum quod quasi officiis iusto! Amet sed porro ipsa!
    </p>
</div>