<div class="card">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{heroe.nombre | uppercase}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion | date:'y'}}</small></p>

        <button (click)="VerHeroe()" type="button" class="btn btn-outline-info btn-block">Ver Mas</button>
        <!-- <a [routerLink]="['/heroe',i+1]" routerLinkActive="router-link-active"  class="btn btn-outline-info btn-block" >Ver Mas</a> -->
    </div>
</div>