<div class="card mb-3 animated fadeIn" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="heroe.img" class="card-img" [alt]="heroe.nombre">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{heroe.nombre | uppercase}}</h5>
                <div class="imagen-logo">
                        <img *ngIf="heroe.casa == 'DC'" src="/assets/img/dc.png" alt="DC">
                        <img *ngIf="heroe.casa == 'Marvel'" src="/assets/img/marvel.png" alt="Marvel">
                </div>
                <p class="card-text">{{heroe.bio}}</p>
                <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
            </div>
        </div>
    </div>

    <a [routerLink]="['/heroes']" routerLinkActive="router-link-active"  class="btn btn-outline-info btn-block" >Regresar</a>
</div>